[submodule "third_party/vscode-amiga-debug"]
	path = third_party/vscode-amiga-debug
	url = https://github.com/BartmanAbyss/vscode-amiga-debug.git
[submodule "third_party/libwebp"]
	path = third_party/libwebp
	url = https://chromium.googlesource.com/webm/libwebp
[submodule "third_party/ssimulacra2"]
	path = third_party/ssimulacra2
	url = https://github.com/cloudinary/ssimulacra2.git
[submodule "third_party/constixel"]
	path = third_party/constixel
	url = https://github.com/tinic/constixel.git
[submodule "third_party/zstd"]
	path = third_party/zstd
	url = https://github.com/facebook/zstd.git
[submodule "third_party/astc-encoder"]
	path = third_party/astc-encoder
	url = https://github.com/ARM-software/astc-encoder.git
